body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cabezera{
    display: flex;
    justify-content: center;
}
.bloque{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ccc; 
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2; 
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.formulario h2{
    display: flex;
    justify-content: center;
}
.formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}
.formulario ul {
    list-style-type: none;
    padding: 0;
}
.formulario li {
    margin-bottom: 5%;
}
.boton{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.boton input {
    padding: 5px 15px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.boton input:hover {
    background-color: #007BFF;
    color: white;
    transform: scale(1.05);
}
.miBoton{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.mensaje {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: green;
    opacity: 0;
    transition: opacity 0.5s ease;
}

